.book{
    margin-bottom: 5%;
    margin-left: 10%;
    color: ghostwhite;
    font-family: Roboto, sans-serif;
}

.row img {
    float: left;
    width: 15%;
    margin-right: 5px;
}

.columnTEXT {
    text-align: left;
    padding-top: 7%;
    margin-left: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}