body {
    background-image: url("background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-top: 70px!important;
    padding: 0;
    overflow: hidden;
    background-color: rgba(78, 58, 36, 1);
    opacity: 0.9;
    position: absolute;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgba(78, 68, 36, 1);
}

.navbar li p {
    color: white;
    text-align: right;
}