.wrapper {
    text-align: center;
}

.form-bubble {
    display:inline-block;
    align-items: center;
    margin-top: 10%;
    background-color: rgba(78, 58, 36, 1);
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.form-text {
    margin-top: 20%;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: ghostwhite;
}

.form-text h2 {
    font-size: 30px;
}

.form-text button {
    background-color: rgba(140, 68, 36, 1);
    font-size: 15px;
}