.book{
    align: center;
    margin-bottom: 5%;
    margin-left: 10%;
}

.row img {
    float: left;
    width: 15%;
    margin-right: 5px;
}

.columnTEXT {
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}