{% extends 'Projekt/index.html' %}

{% block title %}Salesman_detail{% endblock %}

{% block content %}
    <div class="salesman-details">
            <p class="salesman-details-text">
                User {{ all_orders.0.customer }} bought: </br>
                {% for order in all_orders %}
                {{order.assortment.book.title}} in amount of: {{order.amount}} </br>
            </p>
            {% endfor %}
            </br>
        <p class="salesman-details-text">
            Laczna suma zamowienia wynosi: {{ total_price }}
        </p>
    </div>
{% endblock %}