{% extends 'Projekt/index.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post" style="margin-left: 10px;">
    {% csrf_token %}
    {% for field in form %}
      <p>
    <p style="font-size: 15px; font-weight: 600;">{{ field.label_tag }}</p>
        {{ field }}
        {% if field.help_text %}
          <small style="color: white">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}